.row{
  text-align:center;
  
}
#choices{
  display:flex;
  justify-content:space-between;
  
}
#input{
  display:flex;
  justify-content:space-between;
}
#userChoice{
  display:flex;
  justify-content:space-between;
}
#computerChoice{
  display:flex;
  justify-content:space-between;
}
body {
  background-color: tan;
}