.row{
  text-align:center;
  
}
#choices{
  display:flex;
  justify-content:space-between;
  
}
#input{
  display:flex;
  justify-content:space-between;
}
#userChoice{
  display:flex;
  justify-content:space-between;
}
#computerChoice{
  display:flex;
  justify-content:space-between;
}
body {
  background-image:url("https://www.bing.com/th?id=OGC.69960040c7e269288956e72b6e2c8aa8&pid=1.7&rurl=https%3a%2f%2fthumbs.gfycat.com%2fRegalAssuredGossamerwingedbutterfly-size_restricted.gif&ehk=P4JCqDJaziTOps053ENyeg");
  
}
#shoot{
  background-color: #d4af4a;
  font-family: 'Gamja Flower', cursive;
 
}